{% extends "/components/_layout.twig" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% include "./components/dropdownMenu.twig" %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% include "./components/videoStreaming.twig" %}
		</div>
	</div>
{% endblock %}
